{% extends "layout.html" %}

{% block content %}
  <div class="page-header">
    <h1>SumoQs <small>Dashboard</small></h1>
  </div>

  <h4>{{ survey.survey }}</h4>

  <div class="panel panel-default">
    <div class="panel-heading">Answering choices</div>
    {% if choices %}
    <ul class="list-group">
      {% for item in choices %}
      <li class="list-group-item"> - {{ item.choice }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="panel-body">
      <p class="text-muted">No answering choices added.</p>
    </div>
    {% endif %}
  </div>

  <form class="form-inline" action="/dashboard/addchoice" method="POST">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" name="choice" placeholder="Add an answer option here...">
          <input type="hidden" name="surveyId" value="{{ survey.id }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
  </form>

{% endblock %}
