{% extends "layout.html" %}

{% block navbar %}
  {% include "../partials/dash-nav.html" %}
{% endblock %}

{% block content %}
  <a class="btn btn-default btn-sm" href="/dashboard" role="button">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>

  {% include "../partials/dash-header.html" %}

  <div class="panel panel-default">
  <div class="panel-heading">Survey Results</div>
  <div class="panel-body">
    <p>Q: {{ survey.survey }}</p>
  </div>

  <ul class="list-group">
    {% for listItem in choices %}
    <li class="list-group-item">
      {% if listItem.votes %}
      <span class="badge">{{ listItem.votes }}</span>
      {% else %}
      <span class="badge">0</span>
      {% endif %}

      {{ listItem.choice }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
